<mat-card class="pad-sm">
  <mat-form-field>
    <input matInput [(ngModel)]="settings.spreadsheet_id" placeholder="Spreadsheet ID">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [(ngModel)]="settings.range" placeholder="Range">
  </mat-form-field>
  <br>
  <button mat-button mat-raised-button (click)="onSave()">Save !</button>
</mat-card>

<!-- Google Sign-in -->
<mat-card class="pad-sm">
  <div>
    Sign in with Google:
  </div>
  <br>
  <button id="googleBtn" mat-button mat-raised-button [hidden]="appService.authService.isSignedIn">Sign In</button>
  <button mat-button mat-raised-button [hidden]="!appService.authService.isSignedIn" (click)="onSignOutClicked()">Sign Out</button>
</mat-card>
